* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.list_student {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.list_student button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.list_student button:hover {
    background-color: lightgrey;
    color: black;
}

h1 {
    padding: 20px;
}